/* 변수정의 */
:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

body {
  /* max-width: 1920px; */
  background-color: #fff;
  color: #111;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif, "Apple SD Gothic Neo";
  font-weight: 400;
  margin: 0 auto;
  position: relative;
  white-space: nowrap;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 24px 0 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  z-index: 15;
}

.header.fixed {
  padding: 0 24px 0 0;
  height: 48px;
  align-items: center;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.header.fixed .header-wrap {
  height: 48px;
}

.header-wrap .logo {
  display: flex;
}

.header.fixed .header-wrap .logo h1 {
  width: 178px;
  height: 48px;
  background-size: 108px 22px;
  background-repeat: no-repeat;
}

.header-wrap .logo h1 {
  position: relative;
  width: 218px;
  height: 80px;
  margin: 0;
  background: url("../images/page_01/logo_hyundaicard_scr.svg") no-repeat center
    center;
  background-size: 138px 28px;
  transition: all 0.25s;
}

.header-wrap .logo h1 a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.header-wrap .logo .gnb {
  display: flex;
}

.header.fixed .header-wrap .logo .gnb {
  height: 48px;
}

.header-wrap .logo > .gnb > li {
  height: 100%;
}

.header-wrap .logo > .gnb > li > a {
  position: relative;
  display: inline-block;
  align-items: center;
  /* height: 23px; */
  padding: 28px 20px 26px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
  font-size: 18px;
}

.header.fixed .header-wrap .logo > .gnb > li {
  height: 48px;
}

.header.fixed .header-wrap .logo > .gnb > li > a {
  font-size: 14px;
  padding: 11px 12px 10px 12px;
  height: 100%;
}

.header-wrap .logo > .gnb > li:hover > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.header-wrap .logo > .gnb > li > a.active {
  color: #222;
}

.header-wrap .logo > .gnb > li > a.applepay {
  display: block;
  width: 100%;
  height: 100%;
}

.header-wrap .logo > .gnb > li > a.applepay img {
  width: 52px;
  height: 24px;
  display: block;
}

.header-wrap .logo > .gnb > li > a.applepay::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 0;
  width: 1px;
  height: 18px;
  background-color: #ebebeb;
}

.header.fixed .header-wrap .logo > .gnb > li > a.applepay::before {
  top: 18px;
  height: 14px;
}

.header-wrap .logo > .gnb > li:first-child .h_box {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  border-top: 1px solid #ebebeb;
  box-shadow: 0 4px 14px -8px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  display: none;
}

.header.fixed .header-wrap .logo > .gnb > li:first-child .h_box {
  top: 48px;
}

.header-wrap .logo > .gnb > li:first-child .h_box .h_boxInner {
  width: 1200px;
  margin: 24px auto;
  display: flex;
  position: relative;
}

.h_boxInner .clearfix {
  display: flex;
}

.h_boxInner .clearfix:nth-child(2) {
  margin-top: 28px;
  margin-bottom: 32px;
}

.list_dep3 {
  margin-bottom: 0;
  margin-top: 12px;
  width: 204px;
}

.list_dep3 > p {
  font-size: 14px;
  line-height: 20px;
  color: #000;
  font-weight: 700;
}

.list_dep3 > .list {
  margin-top: 10px;
}

.list_dep3 > .list > li {
  margin-top: 4px;
}

.list_dep3 > .list > li:first-child {
  margin-top: 0;
}

.list_dep3 > .list > li > a {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #5c5c5c;
}

.h_left {
  height: 360px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 12px;
  width: 326px;
  min-height: 356px;
  padding-bottom: 8px;
  padding-left: 44px;
}

.h_left::before {
  content: "";
  position: absolute;
  top: 0;
  right: 326px;
  bottom: 0;
  width: 1px;
  background-color: #000;
  opacity: 0.12;
}

.h_left > p {
  font-size: 14px;
  line-height: 20px;
  color: #000;
  font-weight: 700;
}

.h_left .h_login {
  padding: 64px 0 44px;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.h_left .h_login > p {
  line-height: 20px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.h_left .h_login > button {
  margin-top: 23px;
  border: none;
  background-color: transparent;
}

.h_left .h_login > button > a {
  min-width: 120px;
  background-color: #ebebeb;
  height: 40px;
  padding: 9px 7px 9px 8px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 8px;
}

.h_banner {
  width: 282px;
  border-radius: 8px;
  margin-top: auto;
}

.h_banner > a {
  height: 68px;
  display: inline-block;
  width: 100%;
}

.h_banner > a img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.header-wrap .box {
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.header-wrap .box .list {
  display: flex;
  margin-right: 16px;
  align-items: center;
  opacity: 1;
}

.header.fixed .header-wrap .box .list {
  opacity: 0;
}

.header-wrap .box .list > li > a {
  display: inline-block;
  padding: 2px 8px;
  line-height: 20px;
  color: #5c5c5c;
}

.header-wrap .box .list > li:nth-child(3) {
  padding-right: 9px;
  margin-right: 8px;
  position: relative;
}

.header-wrap .box .list > li:nth-child(3)::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px;
  width: 1px;
  height: 12px;
  background: #e0e0e0;
}

.search_box {
  position: relative;
  width: 240px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 20px;
}

.header.header.fixed .search_box {
  height: 32px;
  float: right;
}

.search_box a {
  display: block;
  position: relative;
  padding-right: 10px;
  padding-left: 40px;
  display: flex;
  height: 100%;
  align-items: center;
  border: 0;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.48);
}

.search_box a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  width: 28px;
  height: 28px;
  background: url("../images/page_01/ico_searchB.png") no-repeat 0% 50%;
  background-size: 28px 28px;
  opacity: 0.4;
  transform: translateY(-50%);
}

.search_box a P {
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
}

.header_sub {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
  z-index: 5;
}

.header.fixed .header_sub {
  top: 48px;
}

.header_subInner {
  min-width: 1200px;
  height: 48px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header_subInner .header_subGnb {
  display: flex;
}

.header_subInner .header_subGnb li {
  position: relative;
  padding-left: 24px;
}

.header_subInner .header_subGnb li:first-child {
  padding-left: 0;
}

.header_subInner .header_subGnb li a {
  display: block;
  padding: 14px 0;
  line-height: 20px;
  font-weight: 500;
  color: #000;
}

.header_subInner .header_subGnb li a::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 4px;
  width: 16px;
  height: 16px;
  background: url("../images/page_01/header_sub_arrow.png") no-repeat 50% 50%;
  background-size: 16px 16px;
  opacity: 0.2;
}

.header_subLogin {
  width: 280px;
  padding-top: 8px;
  display: flex;
  gap: 6px;
  justify-content: end;
}

.header_subLogin button {
  min-width: 73px;
  height: 32px;
  padding: 6px 8px;
  line-height: 20px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
}

.header_subLogin button.login {
  background-color: #000;
  color: #fff;
}

/* footer */
.footer_warning {
  padding-bottom: 29px;
  margin-bottom: 36px;
  border-bottom: 1px solid #858585;
}

.footer_warning a {
  display: block;
}

.footer_warning a p.title {
  display: flex;
  height: 40px;
  align-items: center;
  line-height: 22px;
  width: 100%;
  font-weight: 700;
}

.footer_warning a p.title span {
  background: url("../images/page_01/footer_arrow.png") no-repeat 100% 50%;
  background-size: 24px 24px;
  padding-right: 24px;
  width: 100%;
  display: inline-block;
}

.footer_warning a p.txt {
  line-height: 20px;
  font-weight: 500;
}

.footer_link a {
  margin-left: 16px;
  font-weight: 700;
}

.footer_link a:first-child {
  margin-left: 0;
}

.footer_customer {
  margin-top: 36px;
}

.footer_customer > ul {
  margin-top: 12px;
}

.footer_customer > ul > li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
}

.footer_customer > ul > li:first-child {
  margin-top: 0;
}

.footer_customer > ul > li > span.fc {
  display: inline-block;
  width: 80px;
  font-weight: 700;
}

.footer_corp {
  margin-top: 36px;
}

.footer_corp p {
  line-height: 16px;
  font-size: 12px;
}

.footer_corp > ul {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.footer_corp > ul > li {
  margin-top: 4px;
  width: 50%;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #5c5c5c;
}

.footer_corp > ul > li:first-child {
  margin-top: 0;
}
.footer_corp p:last-child a {
  margin-top: 4px;
  display: block;
  line-height: 16px;
}

.footer_address {
  margin-top: 24px;
  font-weight: 500;
  font-size: 12px;
}

.footer_address > p {
  line-height: 18px;
  font-weight: 500;
}

.footer_mark {
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.footer_mark a {
  display: block;
  margin-left: 16px;
}

.footer_mark a:first-child {
  margin-left: 0;
}

.footer_mark a img:nth-child(1) {
  width: 56px;
}
.footer_mark a img:nth-child(2) {
  width: 78px;
}

.footer_sub {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

/* .footer_wrap {
  display: none;
} */

.footer_box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 36px 0;
  display: flex;
}

.footer_box .list01 {
  width: 306px;
}

.footer_box .list01 > .p01 {
  line-height: 16px;
  font-size: 12px;
}

.footer_box .list01 > .p01 > span.fc,
.footer_box .list01 > ul > li > span.fc {
  display: inline-block;
  width: 92px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.footer_box .list01 > .p01 > span,
.footer_box .list01 > ul > li > span {
  font-size: 12px;
  line-height: 16px;
}

.footer_box .list01 > .p02 {
  color: #5c5c5c;
  line-height: 16px;
  margin-top: 8px !important;
  font-weight: 500;
  font-size: 12px;
}

.footer_box .list01 > ul {
  margin-top: 16px;
}

.footer_box .list01 > ul > li {
  font-weight: 400;
  color: #000;
}

.footer_box .list01 > ul > li {
  margin-top: 8px;
}

.footer_box .list01 > ul > li:first-child {
  margin-top: 0;
}

.footer_box .list02 {
  width: 306px;
}

.footer_box .list02 > p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.footer_box .list02 > ul {
  margin-top: 8px;
}

.footer_box .list02 > ul > li {
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
}

.footer_box .list02 > ul > li:first-child {
  margin-top: 0;
}

.footer_box .list03 {
  width: 282px;
}

.footer_box .list03 > ul {
  display: flex;
}

.footer_box .list03 > ul > li {
  margin-left: 16px;
}

.footer_box .list03 > ul > li:first-child {
  margin-left: 0;
}

.footer_box .list03 > ul > li > a {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.footer_box .list03 > .address {
  margin-top: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
