.content {
  width: 1600px;
  margin: 0 auto;
  position: relative;
}

.content .left {
  width: 1256px;
  padding-top: 32px;
  margin: 0;
  padding-right: 38px;
  padding: 44px 0 160px 0;
}

.left .banner {
  height: 476px;
  padding-top: 12px;
  width: 1194px;
  position: relative;
}

.banner .slide {
  width: 1194px;
  height: 100%;
}

.banner .slide ul {
  display: flex;
  justify-content: space-between;
}

.banner .slide ul li a {
  display: block;
  border-radius: 16px;
}

.banner .slide ul li a img {
  width: 280px;
  height: 442px;
  border-radius: 16px;
}

.banner .slide ul li:first-child a img {
  width: 584px;
}

.card_plate {
  padding-left: 12px;
  width: 1156px;
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
}

.card_plate .card_info {
  width: 301px;
  padding-left: 6px;
}

.card_plate .card_info h2 {
  font-size: 48px;
  line-height: 62px;
  margin-top: 2px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card_plate .card_info > p {
  margin-top: 8px;
}

.card_plate .card_info > p > span {
  line-height: 22px;
  font-weight: 500;
  text-align: left;
}

.card_plate .card_info > p > a {
  margin-top: 12px;
  display: block;
  color: #0070f0;
  font-weight: 700;
}

.card_plate .card_info > p > a span {
  background: url("../images/page_01/ico_arrowB_forward_blue.png") no-repeat
    100% 50%;
  background-size: 16px 16px;
  padding-right: 16px;
  vertical-align: top;
}

.tag_list {
  margin-top: 36px;
}

.tag_list > li {
  margin-top: 4px;
}

.tag_list > li:first-child {
  margin-top: 0;
}

.tag_list > li > a {
  padding: 0 10px;
  display: inline-block;
  height: 28px;
  line-height: 26px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 14px;
}

.card_list {
  display: flex;
  width: 892px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card_list li {
  margin-top: 46px;
  margin-right: auto;
  width: 25%;
}

.card_list li:nth-child(1),
.card_list li:nth-child(2),
.card_list li:nth-child(3),
.card_list li:nth-child(4) {
  margin-top: 0;
}

.card_list li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card_list li a img {
  width: 100px;
  height: 158px;
  margin: 0 auto;
  display: block;
}

.card_list li a span {
  margin-top: 12px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.card_plate:nth-child(3) {
  margin-top: 64px;
  border-top: 1px solid #ebebeb;
}

.main-content {
  margin-top: 120px;
  display: block;
}

.main-content .grid_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main-content .grid_list li {
  width: calc((100% - 96px) / 4);
  margin-right: 24px;
}

.main-content .grid_list li a .grid-image {
  background-color: #000000;
  background-image: url(../images/page_01/main-contents-1.png);
  background-size: cover;
  height: 280px;
  padding: 28px;
  border-radius: 16px;
  width: 100%;
}

.main-content .grid_list li a > p {
  padding-left: 4px;
  margin-top: 16px;
  height: 44px;
  overflow: hidden;
  line-height: 22px;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
}

/* right */
.right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 64px 0 160px 64px;
  width: 343px;
  background: #fff;
  border-left: 1px solid #ccc;
}

.right_content {
  position: absolute;
  margin-top: 44px;
  top: 0;
  right: 0;
  width: 280px;
}
